/* Header styles */
header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
    transition: height 0.3s ease;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 500;
    transition: color 0.3s;
    padding: 0.5rem;
}

.nav-links a:hover {
    color: var(--primary);
}

.mercado-libre-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--black);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px solid var(--black);
}

.mercado-libre-button:hover {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 1rem;
    }

    .logo {
        margin-bottom: 0.5rem;
    }

    .nav-links {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    .nav-links a {
        padding: 0.5rem 0;
        text-align: center;
        width: 100%;
    }

    header.scrolled {
        transform: translateY(-10%);
    }

    .logo img {
        height: 40px;
    }

    .mercado-libre-button {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {

    .nav-links {
        font-size: 0.8rem;
        gap: 0.75rem;
        margin-top: 0.4rem;
    }

    header.scrolled .logo img {
        height: 30px;
    }
}

/* Smooth transitions for mobile responsiveness */
@media (max-width: 768px) {
    .nav-container,
    .logo,
    .nav-links,
    .mercado-libre-button {
        transition: all 0.3s ease;
    }
}