---
import verticalLogo from '@/assets/strada/vertical-logo.png';

import '@/styles/styles.css'
import Header from "@/layouts/Header.astro";
import HeroSection from "@/layouts/HeroSection.astro";
import Features from "@/layouts/Features.astro";
import Products from "../layouts/Products.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../layouts/Footer.astro";
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="icon" href={verticalLogo.src} type="image/png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strada - Especialistas en Tela Mosquitera</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    </head>
    <body>
        <!-- Header with Navigation -->
        <Header></Header>

        <!-- Hero Section -->
        <HeroSection></HeroSection>

        <!-- Features Section -->
        <Features></Features>

        <!-- Products Section -->
       <Products></Products>

        <!-- Contact Section -->
        <Contact></Contact>

        <!-- Footer -->
        <Footer></Footer>

    </body>
</html>
