---
import '@/styles/contact.css'
import whatsapp from "@/assets/icons/whatsapp.svg"
import mercadoLibre from "@/assets/icons/mercadolibre.svg"
---

<!-- Contact Section -->
<section class="contact" id="contact-section">
    <h2 class="section-title">Contáctenos</h2>
    <div class="contact-grid">
        <div class="contact-info">
            <h3>Información de Contacto</h3>
            <p><strong>Dirección:</strong> Figueroa Alcorta, 1910 - Local 2 - Godoy Cruz - Mendoza</p>
            <p><strong>Teléfono:</strong> +54 261 2415015, +54 261 4663799</p>
            <p><strong>Email:</strong> administracion@stradasa.com</p>
            <p><strong>Horario de Atención:</strong> Lunes a Viernes de 9:00 a 18:00</p>
            <h3 style="margin-top: 2rem;">Mercados Objetivo</h3>
            <p>Mendoza, San Juan, San Luis, La Pampa.</p> <i style="color: #aaaaaa">Toda Argentina</i>
        </div>

        <div class="contact-action">
            <h3>¿Cómo podemos ayudarte?</h3>
            <p>Estamos a tu disposición para responder cualquier consulta sobre nuestros productos y servicios de mosquiteros y protección contra insectos.</p>

            <div class="contact-buttons">
                <a href="https://wa.me/5492612415015" class="contact-button whatsapp-button">
                    <img style="width: 120px" src={whatsapp.src} alt="whatsapp-icon"/>
                    <!--<span class="contact-button-text">WhatsApp</span> -->
                </a>

                <a href="https://listado.mercadolibre.com.ar/pagina/cbaferrestore/listado/hogar-muebles-jardin/jardin-aire-libre/tejidos-mosquiteros/#client=HOME&component_id=menu_corridors&tracking_id=d3f31530-c413-4378-8cd6-aa992b62cf37" class="contact-button mercadolibre-button">
                    <img style="width: 120px" src={mercadoLibre.src} alt="mercado libre-icon"/>
                    <!--<span class="contact-button-text">Mercado Libre</span>-->
                </a>
            </div>
        </div>
    </div>
</section>