---
import  '@/styles/footer.css'
---

<!-- Footer -->
<footer>
    <div class="footer-container">
        <div>
            <div class="footer-logo">
                <h2>STRADA</h2>
            </div>
            <p>Especialistas en tela mosquitera de fibra de vidrio, alambre galvanizado y aluminio para ventanas y puertas.</p>
        </div>

        <div class="footer-links">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="#home-section">Inicio</a></li>
                <li><a href="#products-section">Productos</a></li>
                <li><a href="#contact-section">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-links">
            <h3>Productos</h3>
            <ul>
                <li><a href="#products-section">Mosquitera de Fibra de Vidrio</a></li>
                <li><a href="#products-section">Mosquitera de Alambre Galvanizado</a></li>
                <li><a href="#products-section">Mosquitera de Aluminio</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2025 Strada. Todos los derechos reservados.</p>
    </div>
</footer>