---
import heroSectionImage from '../assets/hero-section-photo.webp';
import '@/styles/hero.css';
---

<!-- Hero Section -->
<section class="hero" id="home-section">
    <div class="hero-text">
        <h2>Descubre la comodidad de vivir <strong class="message-highlighted">sin mosquitos</strong></h2>
        <p>Explora nuestro amplio catálogo de telas mosquiteras, desde opciones clásicas hasta innovadoras telas de fibra de vidrio.</p>
        <a href="#contact-section" class="cta-button">Solicitar Cotización</a>
    </div>
    <div class="hero-image">
        <img src={heroSectionImage.src} alt="Tela Mosquitera">
    </div>
</section>
